{% extends '::layout.html.twig' %}

{% block title %}Host page for {{ conference.name }}{% endblock %}

{% block body %}
    <article class="conference">
            <header>
                <h2>{{ conference.name }}</h2>
            </header>

        
        <br/>
        [ <a href="{{ path('CfpConferenceBundle_show_conference', { 'tag' : conference.tag }) }}">Back</a> ]

    </article>
{% endblock %}
