You have registered to enter the CFP for {{ cfp.conference.name }} :

At this point, you can add, remove and edit talks to the conference until the call for paper closes on {{ cfp.conference.cfp_end }}.

<a href="{{ url('CfpCfpBundle_show_registration', { 'id': registration.id}) }}">Click here if you want to view, update or delete your submissions</a>

Regards,
CFP
