{% extends '::layout.html.twig' %}

{% block title %}{{ entity.talk.title }}{% endblock %}

{% block body %}
    {% include 'CfpUserBundle:Talk:partial_talk.html.twig' with {'entity': entity.talk} %}
    <hr>

    {% include 'CfpUserBundle:Biography:partial_biography.html.twig' with {'biography': entity.registration.biography} %}
    <hr>

    <div>
        <h3>Submission Remarks:</h3>
        <p>{{ entity.remarks }}</p>
    </div>
{% endblock %}
