{% extends '::layout.html.twig' %}

{% block title %}Show conferences!{% endblock %}

{% block body %}

    {% include partial %}

    {% include 'CfpConferenceBundle:Conference:partial_conferencelist.html.twig' %}

    {% if addLink == true %}
    <br/>
    <div>
      [ <a href="{{ path('CfpConferenceBundle_new_conference') }}">Create a new conference</a> ]
    </div>
    {% endif %}

{% endblock %}