html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,
samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video
{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
table{border-collapse:collapse;border-spacing:0}

html,body { margin: 0px; padding: 0px }

/*body { line-height: 1;font-family: Arial, Helvetica, sans-serif;font-size: 12px; width: 100%; height: 100%; color: #000; font-size: 14px; }*/
body { font:13px/1.5 Arial,Helvetica,'Liberation Sans',FreeSans,sans-serif; width: 100%; height: 100%; color: #000; }

.clear { clear: both; }

#wrapper { margin: 10px auto; width: 1000px; }
#wrapper a { text-decoration: none; color: #F48A00; }
#wrapper span.highlight { color: #F48A00; }

.navigation {
    background-color: #AEE7FF;
}



#header { border-bottom: 1px solid #ccc; margin-bottom: 20px; }
#header .top { border-bottom: 1px solid #ccc; margin-bottom: 10px; }
#header ul.navigation { list-style: none; text-align: right; }
#header .navigation li { display: inline }
#header .navigation li a { display: inline-block; padding: 5px 7px; border-left: 1px solid #ccc; }
#header h2 { font-family: 'Irish Grover', cursive; font-size: 42px; text-align: center; line-height: 60px; }
#header h2 a { color: #000; }
#header h3 { text-align: center; font-family: 'La Belle Aurore', cursive; font-size: 24px; margin-bottom: 20px; font-weight: normal; }

.main-col { width: 960px; display: inline-block; float: left; padding: 20px; margin-bottom: 20px; }


.main-col a { color: #F48A00; }
.main-col h1,
.main-col h2
    { line-height: 1.2em; font-size: 32px; margin-bottom: 10px; font-weight: normal; color: #F48A00; }
.main-col p { line-height: 1.5em; margin-bottom: 20px; }

#footer { clear: both; text-align: center; padding: 10px; color: #000; }

#footer {
    background-color: #AEE7FF;
}

.flash-notice { text-align: center; padding: 10px; background: #DFF2BF; border: 1px solid; color: #4F8A10; margin-bottom: 10px; }

form { font-size: 16px; }
form div { clear: left; margin-bottom: 10px; }
form label { float: left; margin-right: 10px; text-align: right; width: 100px; font-weight: bold; vertical-align: top; padding-top: 10px; }
form input[type="file"],
form input[type="url"],
form input[type="text"],
form input[type="email"],
form input[type="password"]
    { width: 500px; line-height: 26px; font-size: 20px; min-height: 26px; }
form select
    { width: 500px; line-height: 26px; font-size: 20px; min-height: 26px; }

form input[type="checkbox"]
    { margin-left: -5px; width: 30px; line-height: 26px; font-size: 20px; min-height: 26px; }
form textarea { width: 500px; height: 150px; line-height: 26px; font-size: 20px; }
form input[type="submit"] { margin-left: 110px; width: 508px; line-height: 26px; font-size: 20px; min-height: 26px; }
form ul li { color: #ff0000; margin-bottom: 5px; }


table.list {
    color: #404040;
    width: 100%;
    background-color: #fafafa;
    border: 1px #6699CC solid;
    border-collapse: collapse;
    border-spacing: 0px;
    margin-top: 0px;
}


table.list tr.even {
    background: #f8f8f8;
}
table.list tr.odd {
    background: #fff;
}



table.list td {
    border-bottom: 1px dotted #6699CC;
    color: #404040;
    /*background-color: white;*/
    text-align: left;
    padding-left: 3px;
}

